@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

html, body, div, footer, h1, header, form, article, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html
{
    height: 100%;
}
body
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body, input, select, textarea {
    color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.65em;
}

input{
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h2 {
    font-size: 1.35em;
    line-height: 1.75em;
}

#fondo {
    background: #2e3842;
    background-image: url("../img/estadio.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    flex: 1; /*para el footer bien colocado*/
    display: flex;
    flex-direction: column; /* centrar contenido login */
    justify-content: center; /* centrar contenido login */
    cursor: default;
    /*min-height: 100vh;*/
    overflow: hidden;
    /*position: relative;*/
    text-align: center;
}

.centrar {
    text-align: center;
}

#fondo h2 {
    color: #fff;
    font-size: 1.75em;
    opacity: 1;
    padding: 0.35em 1em;
    z-index: 1;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    width: 25%;
    margin: 0 auto;
}
/*inicio estilo formulario*/
.form-style{
    max-width: 600px;
    font: 14px Arial, Helvetica, sans-serif;
    margin: 0 auto;    
}
.form-style ul{
    list-style:none;
}
.form-style-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style label{
    display: block;
    margin: 15px;
}
.form-style label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style span.required{
    color:red;
}
.form-style .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style input.input-field{
    width: 48%;

}

.form-style input.input-field, 
.form-style .tel-number-field, 
.form-style .textarea-field, 
.form-style .select-field{
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    outline: none;
}
.form-style .input-field:focus, 
.form-style .tel-number-field:focus, 
.form-style .textarea-field:focus,  
.form-style .select-field:focus{
    border: 1px solid #0C0;
}
.select-field{
    color:black;
}
.form-style .textarea-field{
    height:100px;
    width: 55%;
}
/*Fin estilo formularios*/

/*Inicio estilo botones */
.buttonSpecial {
    background-color: #ed4933;
    box-shadow: none !important;
    color: #ffffff !important;
}

.buttonSpecial:hover {
    background-color: #ef5e4a !important;
}

.buttonSpecial:active {
    background-color: #eb341c !important;
}

.form-style input[type=submit]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #ed4933;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
}
.form-style input[type=submit]:hover{
    background: #ed4933;
    color: #fff;
}

.form-style input[type=button]{ /*para input tipo button de modificarNoticia.php*/
    border: none;
    padding: 8px 15px 8px 15px;
    background: #ed4933;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
}
.form-style input[type=button]:hover{/*para input tipo button de modificarNoticia.php*/
    background: #ed4933;
    color: #fff;
}

.form-style button{ /*boton crear y eliminar estadio */
    border: none;
    padding: 6px 12px 6px 12px;
    background: #ed4933;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
}
.form-style button:hover{ /*boton crear y eliminar estadio */
    background: #ed4933;
    color: #fff;
}

/* fin estilo botones*/

/*Inicio estilo registro.php*/
.bodyRegistro{
    background-color: #fff;
    color: #4E4852;
    /*min-height: 100%;*/
}
.bodyRegistro .form-style{
    background: rgba(144, 144, 144, 0.25);
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.derecha {
    text-align: right;
}

.bodyRegistro input[type="file"]{
    box-shadow: inset 0 0 0 2px #dfdfdf;
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;  
    font-size: 0.8em;
    font-weight: 600;
    height: 3.125em;
    line-height: 3.125em;
    padding: 0 2.75em;
    padding-top: 0.75em;

}
/*Fin estilo registro.php*/

/*Inicio estilo footer*/
footer{
    display: block;
}

#footer {
    padding: 2em 0 2em 0 ;
    background-color: #1d242a;
    text-align: center;
    width: 100%;
}

#footer .icons {
    font-size: 1.25em;
}

#footer .icons a {
    color: rgba(255, 255, 255, 0.5);
}

#footer .icons a:hover {
    color: #fff;
}

#footer .enlacesFooter {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    letter-spacing: 0.225em;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

#footer .enlacesFooter li {
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    line-height: 1em;
    margin-left: 1em;
    padding-left: 1em;
}

#footer .enlacesFooter li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer .enlacesFooter li a {
    color: inherit;
    border-bottom: dotted 1px;
    text-decoration: none;
}

#footer .enlacesFooter li a:hover {
    color: #fff;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0 !important;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}
/*Fin estilo footer*/


/*Inicio menu header*/

#header{
    display: block;
    background: #2e3842;
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header h1 {
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    position: absolute;
    top: 0;
    color: #fff;
}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 0;
    top: 0;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#header nav > ul > li > a {
    border: 0;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.225em;
    padding: 0 1.5em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
}

#header nav > ul > li {
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    line-height: 1em;
    margin-left: 1em;
    padding-left: 1em;
}

#header nav > ul > .vertical {
    line-height: inherit; /*centrar texto cuando solo tenemos 1 elemento*/
}

#header nav > ul > li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}
#header nav > ul > li > a:hover  {
    color: #fff;
}

#header nav{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
}

#header .admin{
    color: #FFA;
}

/*Fin menu header*/


/*Inicio columnas noticias*/
#colPrincipal1 {
    float: left;
    width: 66%;
    background: rgba(144, 144, 144, 0.25);
    color:black;
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 1%;
}
#colPrincipal2 {
    float: right;
    width: 29%;

    background-color: rgba(144, 144, 144, 0.25);
    color:black;
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 1%;
}

/*Columnas Partidos*/
#colPartidos1 {
    float: left;
    width: 47%;
    background: rgba(144, 144, 144, 0.25);
    color:black;
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 1%;
}
#colPartidos2 {
    float: right;
    width: 47%;
    background-color: rgba(144, 144, 144, 0.25);
    color:black;
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 1%;
}

#colPrincipal2 a:hover{
    color: white;
}

#colPrincipal2 a {
    text-decoration: none;
    color: #ed4933;
}
/*Fin columnas noticias*/

/*Inicio pag genericas Ej: quienesSomos*/
.generico {
    padding-top: 9em;
    padding-bottom: 9em;
    background-color: #ffffff;
    color: #4E4852;
    /*width: 70em;*/
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    font-size: 11pt;
    flex: 1; /*contenido flexible, footer bien colocado*/

}

/*Fin pag genericas*/

.generico2 { /*inicio.php*/
    padding-top: 4em;
    padding-bottom: 5em;
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    flex: 1; /*contenido flexible, footer bien colocado**/
    font-size: 11pt;
    color: #4E4852;

}

.pNoticia{
    text-align: justify;
}

.error{ /* formulario registro*/
    color: red;
    text-decoration: none;
    text-align: center;

}
.contenedor2, .contenedor3{
    color:black;
}
.enlaceMensajes{
    text-decoration: none;
    color: black;
}
.enlaceMensajes:hover{
    text-decoration: underline;
}

/*AUTOCOMPLETE AMISTAD*/
/* Formatting search box */
.search-box{
    width: 300px;
    position: relative;
    display: inline-block;
    font-size: 14px;
}
.search-box input[type="text"]{
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
}
.result{
    position: absolute;        
    z-index: 999;
    top: 100%;
    left: 0;
}
.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
}
/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}
/*Edita la foto del usuario del perfil*/
#perfil{
    margin-bottom: -30px;
}
#perfil>div{
    position: relative;
    bottom:40px;
    color:#fff;
    background-color:#000;
    padding:2px 8px;
    opacity:0.5;
    font-weight:bold;
    cursor: pointer;
}

.dropdownList{
    background-color: lightgrey;    
    display: block;
    
}